body{
    background-color: #f9f9ec;
}
#checkout_container{

}
#checkout_form{
    background-color: white;
    border: 1px solid lightgray;
    overflow: auto;
}
#border_div{
    border: 1px ridge lightgray;
    width: 100%;
    margin-top: 10px;
}
#next_btn{
    background-color: #0066ff;
    color:white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    float: right;
    width: 100%;
    height: 45px;
    transition: background-color 0.3s ease;
  }
  
  #next_btn:hover{
    background-color: #0033cc;
  }
  #order_summary{
      background-color: white;
      
      padding: 20px;
      border: 1px solid lightgray;
      overflow: auto;
  }

  #meals_count{
      display: flex;
      flex-direction: column;
  }

  .meal-div{
      display:flex;
      background-color: white;
      border: 1px solid lightgray;
      align-items: center;
      padding: 10px;
    }

  .meal-div img {
    width: 70px;
    height: 60px;
    margin: 20px;
  }
  .meal-title-desc{

  }
  .meal-title{
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0 0;
  }
  .meal-desc{
    color: #717171;
    font-weight: 500;
    font-size: 14px;
  }

  .meal-count{
     margin-left: 20px;
     font-weight: 500;
     font-size: 18px;
  }

  .my-custom-tooltip{
    cursor: pointer;
  }
