body{
  background-color: #f9f9ec;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
@media only screen and (max-width: 1200px) {
  .responsive {
    width: 33.33333%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 992px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 768px) {
  .responsive {
    width: 100%;
  }

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#main_div{
  overflow-y: scroll;
  height: calc(100vh);
}

div.meal-div {
  position: relative;
  width: 100%;
  margin: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
  background-color: white;
  cursor: pointer;
}
.img-div-wrapper{
	display: block;
	position: relative !important;
	max-width: 30%;
    min-width: 130px;
    min-height: 160px;
}

.img-div{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    transition: opacity .2s;
}

div.meal-div:hover {
  background-color: #f2f2f2;
}

div.meal-div img {
  width: 100%;
  height: auto;
}
.title{
  font-weight: 500;
  font-size: 18px;
  margin: 20px 0 0 20px;
}

.desc{
  margin-left: 20px;
  color: #717171;
  font-weight: 400;
  font-size: 14px;
}
.desc-2{
  display: inline-block;
  margin: 15px 0 15px 20px;
  color:#717171;
  font-weight: 400;
  font-size: 14px;
  word-break: break-word;
  width: 45px;
  border-right: 1px solid lightgray;
  line-height: 14px;
}

@media (min-width: 768px){
	.img-div-wrapper{
		min-height: 190px;
		max-width: none;
	}
}
.cals{
  display: inline-block;
  margin: 15px 0 15px 3px;
  color:#717171;
  font-weight: 400;
  font-size: 14px;
  word-break: break-word;
  width: 30px;
  border-right: 1px solid lightgray;
  line-height: 14px;
}
.carbs{
  display: inline-block;
  margin: 15px 0 15px 3px;
  color:#717171;
  font-weight: 400;
  font-size: 14px;
  word-break: break-word;
  width: 35px;
  line-height: 14px;
}
.add-btn{
  box-sizing: border-box;
  background-color: #0066ff;
  color:white;
  border: none;
  font-size: 18px;
  font-weight: 600;
  min-width: 45px;
  min-height: 30px;
  position: absolute;
  right:0;
  bottom: 20;
  transition: background-color 0.3s ease;
}

.add-btn:hover{
  background-color: #0033cc;
}

#cart_wrapper {
  min-width: 300px;
  background-color: #f2f2f2;
  border-left: 1px solid gray;
}

#cart{
  display: block;
  overflow-y: auto;
  height: calc(100vh - 160px);
}

.cart-div {
  display: flex;
  margin: 10px;
  border: 1px solid #ccc;
  width: 275px;
  height: 110px;
  background-color: white;
  align-items: center;
}

.cart-div:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.cart-div img {
  width: 80px;
  height: 70px;
  margin: 20px;
  box-shadow: 0 0 20px gray;
}
.meal-title{
  font-size: 16px;
  font-weight: 500;
  width: 200px;
}

.cart-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-buttons > div{
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  width: 55px;
  height: 50px;
}
.cart-buttons > div:hover{
  background-color: white;
  cursor: pointer;
}
#delivery_date{
  display: flex;
  height: 48px;
  align-items: center;
  background-color: white;
  border: .5px solid #f7f7f7;
  padding: 0;
}
#date_message{
  margin-left: 10px;
}
#meal_count_desc{
  display : flex;
  flex-direction: column;
  align-items: center;
}
.btn{
  width: 300px;
  margin-top: 20px;
}
#meal_count_message{
  display: inline-block;
  margin-top: 15px;
}

#meal_counter{
  color: red;
}
.fa-check{
  color:#0066ff;
}
#cart_message{
  visibility: visible;
}
.btn-div{
  width: 100%;
}
.checkout-btn{
  display: block;
  width: 100%;
  background-color: #0066ff;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 0;
}
.checkout-btn:disabled{
  background-color: lightgray;
  color:gray;
}