body{
  background-color: #f9f9ec;
}

#main_div{
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
}

div.meal-div {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  max-width: 350px;
  transition: background-color 0.3s ease;
  background-color: white;
  cursor: pointer;
}
@media only screen and (max-width: 974px) {
  .meal-div {
    max-width: 600px;
    width: 100%;
  }
}
div.meal-div:hover {
  background-color: #f2f2f2;
}

div.meal-div img {
  width: 100%;
}

.title{
  font-weight: 500;
  font-size: 18px;
  margin: 20px 0 0 20px;
}
.desc{
  margin-left: 20px;
  color: #717171;
  font-weight: 400;
  font-size: 14px;
}
.desc-2{
  display: inline-block;
  margin: 15px 0 15px 20px;
  color:#717171;
  font-weight: 400;
  font-size: 14px;
  word-break: break-word;
  width: 45px;
  border-right: 1px solid lightgray;
  line-height: 14px;
}
.cals{
  display: inline-block;
  margin: 15px 0 15px 3px;
  color:#717171;
  font-weight: 400;
  font-size: 14px;
  word-break: break-word;
  width: 30px;
  border-right: 1px solid lightgray;
  line-height: 14px;
}
.carbs{
  display: inline-block;
  margin: 15px 0 15px 3px;
  color:#717171;
  font-weight: 400;
  font-size: 14px;
  word-break: break-word;
  width: 35px;
  line-height: 14px;
}
.add-btn{
  background-color: #0066ff;
  color:white;
  border: none;
  font-size: 18px;
  font-weight: 600;
  float: right;
  width: 80px;
  height: 45px;
  margin-right: 20px;
  transition: background-color 0.3s ease;
}

.add-btn:hover{
  background-color: #0033cc;
}

#cart_wrapper {
  min-width: 344px;
  height: 100%;
  float: right;
  background-color: #f2f2f2;
}

#cart{
  display: block;
  overflow-y: auto;
  height: 80%;
}

.cart-div {
  display: flex;
  margin: 10px;
  border: 1px solid #ccc;
  width: 350px;
  height: 110px;
  background-color: white;
  align-items: center;
}

.cart-div:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.cart-div img {
  width: 80px;
  height: 70px;
  margin: 20px;
  box-shadow: 0 0 20px gray;
}
.meal-title{
  font-size: 16px;
  font-weight: 500;
  width: 200px;
}

.cart-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-buttons > div{
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  width: 55px;
  height: 50px;
}
.cart-buttons > div:hover{
  background-color: white;
  cursor: pointer;
}
#delivery_date{
  display: flex;
  height: 48px;
  align-items: center;
  background-color: white;
  border: .5px solid #f7f7f7;
  padding: 0;
}
#date_message{
  margin-left: 10px;
}
#meal_count_desc{
  display : flex;
  flex-direction: column;
  align-items: center;
}
.btn{
  width: 300px;
  margin-top: 20px;
}
#meal_count_message{
  display: inline-block;
  margin-top: 15px;
}

#meal_counter{
  color: red;
}
.fa-check{
  color:#0066ff;
}
#cart_message{
  visibility: visible;
}
.btn-div{
  width: 100%;
}
.checkout-btn{
  display: block;
  width: 100%;
  background-color: #0066ff;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 0;
}
.checkout-btn:disabled{
  background-color: lightgray;
  color:gray;
}